<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <body>
    <h3>
      <a href="{{ url_for('plantlistresource') }}"
        >Plants Total Net Generation 2016</a
      >
    </h3>

    <hr />

    {%- for message in get_flashed_messages()%}
    {{ message }}
    {%- endfor %}

    <h3>Plants List</h3>
    <table border="2" padding="5">
      <thead>
        <tr>
          <th>Plant Name</th>
          <th>State</th>
          <th>Plant Annual net generation (MWh)</th>
          <th>State Annual net generation (MWh)</th>
          <th>Plant latitude</th>
          <th>Plant longitude</th>
        </tr>
      </thead>

      <tbody>
        {% for plant in Plants %}
        <tr>
          <td>{{ plant.PNAME }}</td>
          <td>{{ plant.PSTAT }}</td>
          <td>{{ plant.PLNGENAN }}</td>
          <td>{{ plant.STNGENAN }}</td>
          <td>{{ plant.LAT }}</td>
          <td>{{ plant.LON }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br /><br />

    <a href="{{ url_for('statelistresource') }}"
      >States Total Net Generation 2016</a
    >
  </body>
</html>
