<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <body>
    <h3>
      <a href="{{ url_for('plantlistresource') }}"
        >Plants Total Net Generation 2016</a
      >
    </h3>

    <hr />

    {%- for message in get_flashed_messages()%}
    {{ message }}
    {%- endfor %}

    <form action="" method="post" id="query_plants">
      <label
        >Top N:
        <input type="number" name="top" placeholder="10" /></input>
      </label>

      <label
        >Choose state
        <select name="state">
          <option>All</option>
          {% for i in range(0, 51) %}
          <option value="{{ States[i]['PSTAT'] }}">{{
            States[i]['PSTAT']
          }}</option>
          {% endfor %}
        </select>
      </label>
      <input type="submit" value="Submit" />
    </form>

    <p id="result"></p>
    <img src="" alt="" id="img" />

    <h3>Plants List</h3>
    <table border="2" padding="5">
      <thead>
        <tr>
          <th>Plant Name</th>
          <th>State</th>
          <th>Plant Annual net generation (MWh)</th>
          <th>State Annual net generation (MWh)</th>
          <th>Plant latitude</th>
          <th>Plant longitude</th>
        </tr>
      </thead>

      <tbody>
        {% for plant in Plants %}
        <tr>
          <td>{{ plant.PNAME }}</td>
          <td>{{ plant.PSTAT }}</td>
          <td>{{ plant.PLNGENAN }}</td>
          <td>{{ plant.STNGENAN }}</td>
          <td>{{ plant.LAT }}</td>
          <td>{{ plant.LON }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br /><br />

    <a href="{{ url_for('statelistresource') }}"
      >States Total Net Generation 2016</a
    >

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $('#query_plants').on('submit', function(e) {
        e.preventDefault()
        let formData = new FormData(e.currentTarget)
        let top = parseInt(formData.get('top'))
        let state = formData.get('state')

        if (top < 0 || top > 9668) {
          alert('please enter range from 0 to 9668 !')
          return
        }
        $.ajax({
          url: '/plant_list',
          type: 'GET',
          // contentType: 'application/json',
          data: {
            top: top,
            state: state
          },
          // cache: false,
          success: function(data) {
            // console.log(data)
          }
        })
      })
    </script>
  </body>
</html>
